<tr ng-if="vm.data.rowData.length > 0" class=" {{record.rowClass}}" ng-repeat="record in vm.data.rowData | filter : vm.search() | orderBy:vm.propertyName:vm.reverse| startFrom:currentPage*pageSize
    | limitTo:pageSize track by $index ">
    <td ng-if="vm.data.isShowSrNo " style="text-align: right;"  class="numericColumn"> {{vm.srNumber+$index}}</td>

    <td style="vertical-align: middle;">{{record[vm.data.headingData[0].name]}}</td>
    <td class="numericColumn">{{FormatData(record[vm.data.headingData[1].name],'0.00')}}</td>
    <td class="numericColumn">{{FormatData(record[vm.data.headingData[2].name],'0.00')}}</td>
    <td class="numericColumn">{{FormatData(record[vm.data.headingData[3].name],'0.00')}}</td>
    <td style="border-left: 1px solid black"></td>
</tr>

<tr ng-if="vm.data.rowData.length==0">
    <td></td>
    <td style=" vertical-align: middle; ">{{'Menu.NoRecordFound'|translate }}</td>
    <td></td>
    <td></td>

</tr>
<style>
    .customTable  td {
        text-align: center;
        border-right: 1px solid #c6c3c669;
    }

    .verticalAlign {
        vertical-align: middle !important;
    }
    .rPhase {
        background-color: #e86868 !important;
    }

    .yPhase {
        background-color: #f2f27b !important;
    }

    .bPhase {
        background-color: #7e7ef1 !important;
    }

    .numericColumn {
        text-align: right !important;
        padding-right: 15px !important;
        vertical-align: middle !important;
    }
</style>