<div class="page page-datatables page-chat">
    <div class="pageheader dashboardMargin">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i>{{ 'Menu.ttl_HOME' | translate }}</a>
                </li>
                <li>
                    <a ui-sref="app.NetworkMetering.Dashboard">{{ 'Menu.NetworkMetering' | translate }}</a>
                </li>
                <li>
                    <a ui-sref="app.NetworkMetering.DTList">{{ mainTitle | translate }}</a>
                </li>
                <li>
                    <a ui-sref="">{{ pageTitle | translate }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="!hideShowValue.isProcessing && reportFor=='DT'" ng-controller="DTDetailsTabCtrl"
        onload="onload(2,requestDetails,'Reports')" ng-include="partialViewPath"></div>
        <div ng-if="!hideShowValue.isProcessing && reportFor=='Feeder'" ng-controller="FeederDetailsTabCtrl"
        onload="onload(2,requestDetails,'Reports')" ng-include="partialViewPath">
    </div>
    <div class="row">
        <!-- col -->
        <div class="col-md-12" style="margin-top: -7px;">
            <section class="tile" fullscreen="isFullscreen02" style="margin-bottom: 0px;">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font">
                        <strong>{{ pageTitle|translate }}</strong>&nbsp;{{'Menu.Report' | translate }}
                    </h1>
                    <ul class="controls">
                        <li style="border-right: solid 1px rgb(224, 222, 222);border-left: solid 1px rgb(224, 222, 222);border-bottom-color: white;border-top-color: white;"
                            id="dateFilter">
                            <i class="glyphicon glyphicon-filter gridFilterIcon" title="{{ 'Menu.Filter' | translate}}"
                                ng-click="onFilterClick()"></i>
                        </li>
                        <li style="border-right: solid 1px rgb(224, 222, 222);border-left: solid 1px rgb(224, 222, 222);border-bottom-color: white;border-top-color: white;background-color: rgb(225, 236, 244);display: none;"
                            title="{{ 'Menu.DailyReport' | translate}}" id="dayFilter"
                            ng-click="onReportViewType('daily')">
                            <img style="margin: 12px" class="icon-padding" src='/Angular1x/images/Daily.png' />
                        </li>
                        <li style="border-right: solid 1px rgb(224, 222, 222);border-left: solid 1px rgb(224, 222, 222);border-bottom-color: white;border-top-color: white;display: none;"
                            title="{{ 'Menu.MonthlyReport' | translate}}" id="monthFilter"
                            ng-click="onReportViewType('monthly')">
                            <img style="margin: 12px" class="icon-padding" src='/Angular1x/images/Monthly.png' />
                        </li>
                        <li ng-if="hideShowValue.isValueCurve"
                            style="border-right: solid 1px rgb(224, 222, 222);border-left: solid 1px rgb(224, 222, 222);border-bottom-color: white;border-top-color: white;padding-top: 10px;">
                            <div class="material-switch pull-right" style="margin-left: 12px; margin-right: 12px;">
                                <input type="checkbox" class="checkbox" value=false id="showSegmentsID" ng-model="test"
                                    ng-click="hideShowSegments()">
                                <label for="showSegmentsID" class="label-primary"></label>
                            </div>
                        </li>
                        <li
                            style="border: solid 1px rgb(224, 222, 222);border-bottom-color: white;border-top-color: white;padding-top: 7px;">
                            <i class="glyphicon glyphicon-refresh gridFilterIcon button-success"
                                style="color: green;margin-top: 5px;" title="{{ 'Menu.Refresh' | translate}}"
                                ng-click="refresh()"></i>
                        </li>

                    </ul>
                </div>
            </section>
        </div>
    </div>
    <grid-filter filter-data="filterData" ng-if="showFilterPanel" style="padding-right: 0%; "> </grid-filter>

    <div class="row" style="padding-right: 16px;padding-left: 14px;    margin-bottom: 5px;
    margin-top: 5px;">
        <div class="list-group no-radius no-border">
            <div>
                <div class="card-container list-group-item col-md-3"
                    style="text-align: center;background-color: #d1e8d15c;font-size: large; " ng-show="true"
                    aria-hidden="false">
                    <span class="ng-binding"> &lt; {{filterData.filter.normalValue}}&nbsp;&nbsp;
                        <strong>{{'Menu.Normal'|
                            translate }}</strong>
                    </span>
                </div>
                <div class="card-container list-group-item col-md-3"
                    style="text-align: center;background-color: #ffffe2; font-size: large;" ng-show="true"
                    aria-hidden="false">
                    <span class="ng-binding"> &gt;= {{filterData.filter.normalValue}}
                        &nbsp;&nbsp;<strong>{{'Menu.Acceptable'| translate
                            }}</strong>&nbsp;&nbsp; &lt; {{filterData.filter.acceptableValue}}</span>
                </div>

                <div class="card-container list-group-item col-md-3"
                    style="text-align: center;background-color: #ffd0a382;font-size: large; " ng-show="true"
                    aria-hidden="false">
                    <span class="ng-binding"> &gt;= {{filterData.filter.acceptableValue}}
                        &nbsp;&nbsp;<strong>{{'Menu.NotAcceptable'| translate
                            }}</strong>&nbsp;&nbsp; &lt; {{filterData.filter.notAcceptableValue}} </span>
                </div>

                <div class="card-container list-group-item col-md-3"
                    style="text-align: center;background-color: #eb191936;font-size: large; " ng-show="true"
                    aria-hidden="false">
                    <span class="ng-binding"> &gt;= {{filterData.filter.notAcceptableValue}}
                        &nbsp;&nbsp;<strong>{{'Menu.Critical'| translate
                            }}</strong> </span>
                </div>
            </div>
        </div>
    </div>
    <section class="tile bgTileColor" fullscreen="isFullscreen03">
        <div class="row" style="display: flex;">
            <div class="col-md-12" style="font-size: 15px;">
                <div class="panel panel-info" style="height: auto;">
                    <div class="panel-heading" style="height: 43px;">
                        <span>{{ 'Menu.Graph'|translate }}</span>
                        <button ng-show="hideShowValue.showHighestCurrentStats" id="highestCurrentStatsBtn"
                            ng-click="showHighestCurrentStatsCurve()" style="background-color: #E1ECF4;color:#337ab7 
                            " type="button" class="btn btn-primary graphButtonStyle"><i style="float: left;
                            padding-right: 5px;padding-top: 5px;" class="fa fa-pie-chart"></i>{{ 'Menu.Stats'|
                            translate }}</button>

                        <button id="valueButtonID" ng-click="showValueCurve()"
                            style="color:white;background-color: #337ab7;" type="button "
                            class="btn btn-primary graphButtonStyle"><i style="padding-right: 5px;"
                                class="fa fa-line-chart"></i>{{ 'Menu.ProfileCurve' | translate
                            }}</button>
                    </div>
                    <div class="panel-body" ng-if="hideShowValue.isGraphAvailable">
                        <div class="studyCrieteriaPie" ng-if="hideShowValue.showCombineGraph">
                            <hc-combined-stack-and-line-chart style="height: 400px;width:100%;display: block;"
                                data="combinationChartData">
                            </hc-combined-stack-and-line-chart>
                        </div>
                        <div ng-if="hideShowValue.showValueGraph">
                            <hc-combined-stack-and-line-chart style="height: 400px;width:100%;display: block;"
                                data="lineChartData">
                            </hc-combined-stack-and-line-chart>
                        </div>
                        <div ng-if="hideShowValue.showHighestPhaseCurrentStatsChart">
                            <div class="col-md-6 studyCrieteriaPie">
                                <hc-combined-stack-and-line-chart style="height: 400px;width:100%;display: block;"
                                    data="studyCrieteriaGraph"> </hc-combined-stack-and-line-chart>
                            </div>
                            <div class="col-md-6">
                                <hc-combined-stack-and-line-chart style="height: 400px;width:100%;display: block;"
                                    data="phaseCurrentContributionChart">
                                </hc-combined-stack-and-line-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="font-size: 15px;">
                <div class="panel panel-info" style="height: auto;">
                    <div class="panel-heading">{{ 'Menu.Data'|translate }}</div>
                    <div class="panel-body" style="padding: 1px;">
                        <form class="form-inline">
                            <hes-data-grid data="gridData" perform-action="performAction"
                                on-link-action="onLinkAction"></hes-data-grid>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    b,
    .textAlignVertical {
        vertical-align: -webkit-baseline-middle;
    }

    .reAlign {
        margin-top: 0px;
    }

    .red {
        color: red;
    }

    .yellow {
        color: yellow;
    }

    .blue {
        color: blue;
    }

    .spacingTop {
        margin-top: 10px;
    }

    table {
        font-size: 15px;
    }

    .displayInline {
        display: inline;
    }

    .paramMarginfLeft {
        margin-left: 50px;
    }

    .customGridExport {
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }

    .reAlign {
        padding-right: 36px !important;
        margin-top: -45px !important;
    }

    .outerClass {
        border: 2px solid black;
        border-radius: 4px;
    }
</style>
<style>
    .table tbody tr td:nth-child(1),
    .table tbody tr td:nth-child(3),
    .table tbody tr td:nth-child(4),
    .table tbody tr td:nth-child(5),
    .table tbody tr td:nth-child(6) {
        text-align: right !important;
    }

    .table tbody tr td:nth-child(2) {
        text-align: center !important;
    }

    th {
        text-align: center;
    }
</style>
<style>
    path.highcharts-data-label-connector.highcharts-color-0,
    path.highcharts-data-label-connector.highcharts-color-1,
    path.highcharts-data-label-connector.highcharts-color-2,
    path.highcharts-data-label-connector.highcharts-color-3 {
        stroke: black !important;
    }

    .studyCrieteriaPie path.highcharts-point.highcharts-color-0 {
        stroke: green !important;
        stroke-width: 2;
    }

    .studyCrieteriaPie path.highcharts-point.highcharts-color-1 {
        stroke: yellow !important;
        stroke-width: 2;
    }

    .studyCrieteriaPie path.highcharts-point.highcharts-color-2 {
        stroke: orange !important;
        stroke-width: 2;
    }

    .studyCrieteriaPie path.highcharts-point.highcharts-color-3 {
        stroke: red !important;
        stroke-width: 2;
    }
</style>
<style>
    .card-container {
        padding-left: 1px !important;
        padding-right: 0px !important;
    }

    .material-switch>label::after {
        height: 20px !important;
        margin-top: -4px !important;
        position: absolute;
        width: 20px !important;
    }

    .material-switch>label::before {
        height: 12px !important;
        margin-top: -4px !important;
        width: 40px !important;
    }

    .graphButtonStyle {
        cursor: pointer !important;
        float: right !important;
        margin-right: 5px !important;
        margin-top: -8px !important;
        height: 38px !important;
        font-size: 20px !important;
    }
</style>